doctype html
html
    head
        title Biblioteca Publica - Historial de Rentas
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 20px;
            }
            h2 {
                color: #333;
            }
            p {
                color: #666;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            li {
                margin: 5px 0;
                padding: 10px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
            .pending {
                background-color: #fff3cd;
                border-color: #ffeeba;
            }
            .finished {
                background-color: #d4edda;
                border-color: #c3e6cb;
            }
            p {
                color: #000;
                font-size: 2em;
                font-weight: bold;
            }
    body
        if historic && historic.length
            h2 Lista de rentas
            ul
                each his in historic
                    li(class=(his.state === 'Pending' ? 'pending' : 'finished'))
                        | Fecha de renta: #{his.date_rent} - Fecha final: #{his.date_f} - Libro: #{his.book.title} - Usuario: #{his.user.name} #{his.user.lastName} - Estado: #{his.state}
        else
            p No hay rentas registradas por ahora